@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

 :root
{
  font-family: 'Poppins', sans-serif;
  --primary-color:#475569;
  --secondary-color:#ccfbf1;
}

body
{
   background-color: var(--primary-color);
}

#container
{
 width:50%;
 margin: auto;
 margin-top: 3rem;
 text-align: center;
}
h1{
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
}
#birthday-input
{
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    border: 1px soliid var(--secondary-color);
    border-radius: 0.3rem;
}
#show-btn
{
    align-content: center;
    width: 20%;
    margin-top: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.4rem;
}

#result
{
    margin-top: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}








